@charset "utf-8";

// If need, change your variables before importing Bulma
//$title-color: #ff0000;
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900');

// Local fonts
/* 
/* caveat-regular - latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/caveat/caveat-v17-latin-regular.eot');
  src: local('Caveat'), 
    url('/fonts/caveat/caveat-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/caveat/caveat-v17-latin-regular.woff2') format('woff2'),
    url('/fonts/caveat/caveat-v17-latin-regular.woff') format('woff'),
    url('/fonts/caveat/caveat-v17-latin-regular.ttf') format('truetype'),
    url('/fonts/caveat/caveat-v17-latin-regular.svg#Caveat') format('svg');
    font-display: swap;
}

/* caveat-700 - latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/caveat/caveat-v17-latin-700.eot');
  src: local('Caveat'), 
    url('/fonts/caveat/caveat-v17-latin-700.eot?#iefix') format('embedded-opentype'),
    url('/fonts/caveat/caveat-v17-latin-700.woff2') format('woff2'),
    url('/fonts/caveat/caveat-v17-latin-700.woff') format('woff'),
    url('/fonts/caveat/caveat-v17-latin-700.ttf') format('truetype'),
    url('/fonts/caveat/caveat-v17-latin-700.svg#Caveat') format('svg');
    font-display: swap;
}
// End local fonts

$family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont,  Segoe UI,
  Helvetica, Arial, sans-serif;
$text: #000505;
$size-1: 2.8rem;
$link: #4D9DE0;
$weight-semibold: 700;
$weight-bold: 800;

@import '~bulma/bulma.sass';

.audioplayer {
  margin-top: 0.4rem;
  margin-bottom: 0.75rem;
  width: 100%;
}
.ficons a {
  padding-left: 1rem;
  padding-right: 1rem;
}
footer a, .memo-title a {
  color: #000505;
}
footer a:hover, .memo-title a:hover{
  color: #4D9DE0;
}

.episode-card {
  border-width: 2px;
  border-style: none;
  background-color: #c2daed;
}
.episode-link {
  color:#000505;
}

.subtle-link,
.subtle-link:hover {
  color: currentColor;
}

.button.is-black:hover {
  background-color: #4D9DE0 !important;
}
.rounded-corners,
.button.is-black {
  border-radius: 10px;
}
.highlight {
  color: #4D9DE0;
}

.imageFull {
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}

.imageLeft {
  width: 45%;
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;
  border-radius: 10px;
  float: left !important;
}

.imageRight {
  width: 45%;
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
  border-radius: 10px;
  float: right !important;
}

.site-title {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 3.5rem !important;
}
.memo-title-compact {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 3rem !important;
}
.memo-title {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 4.2rem !important;
}

.smaller {
  width: 35%;
}

@include mobile { 
  .columns.is-reversed-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
    .imageFull {
      border-radius: 10px;
    }
  
    .imageLeft {
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
      border-radius: 10px;
    }
  
    .imageRight {
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
      border-radius: 10px;
    }
}

.tag a {
  color: #000505
}
.tag a:hover {
  color: #4D9DE0
}
